.container-fluid {
    background-color: #999994;
	line-height: 1.4em;
}

.company_name {
	float: left;
	width: 200px;
	height: auto;
	padding: 10px;
    margin-top: 0px;
}
.logo_img {
	padding: 20px;
	margin: 0 auto;
}


#top-bar {
    background: #39394d;
    height: 36px;

}

.circle-container {
	position: relative;
	width: 24em;
	height: 24em;
	padding: 2em; 
	border: dashed 0px;
	border-radius: 50%;
	margin: 1.5em auto 0;
    margin-bottom: 80px;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -1em; 
    border-radius: 50%;
    inner-border: 10px solid red;
}

div#circle-right {
    height: 150px;
    width: 150px;
    background-color: #ff3c41;
}
.btn-primary {
    background-color: #5e5e5d;
    border-color: #5e5e5d;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em);} /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }


.footer {
	font-size: 10px;
    background: #39394d;
    height: 80px;
}

div#description {
    margin-top: 80px;
    text-align: center;
    
}
@media (min-width: 992px)
    #description {
        margin-top: 80px;
        text-align: center;
}


